[phases.setup]
nixPkgs = ['maven', 'openjdk17']

[phases.build]
cmds = [
  'mvn clean install -DskipTests -Dmaven.test.skip=true',
  'ls -la target/'
]

[start]
cmd = 'java -Dserver.port=$PORT -jar target/*.jar'
