[phases.setup]
nixPkgs = ['maven', 'jdk17']

[phases.build]
cmds = ['mvn clean package -DskipTests']

[phases.deploy]
cmd = 'java -Dserver.port=$PORT -jar target/*.jar'

[start]
cmd = 'java -Dserver.port=$PORT -jar target/*.jar'
